.item {
  width: 95%;
  margin: 1rem 0 2rem;
}
.title {
  font-size: 1.4rem;
  font-weight: 800;
}

.space {
  margin-top: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 0.8rem 1rem;
}

.txtInput {
  width: 100%;
  border: 0;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}
