.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-items: stretch;
}

.gridGoodsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  align-items: stretch;
}

.gridItem,
.gridCategory {
  text-align: center;
  box-sizing: border-box;
}

.gridCategory {
  color: #807f7f;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  border-bottom: 2px solid #807f7f;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  height: 20vh;
}

.gridImg {
  padding: 1rem 0;
}

.gridImg img {
  width: 50%;
}
