.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slogan {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.logo {
  margin-bottom: 1rem;
}
.logo img {
  width: 30rem;
}
.text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5%;
  color: white;
}
.description {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.loginBtn {
  display: flex;
  margin-top: 5rem;
}
.loginBtn button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  width: 20rem;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
