.container {
  display: flex;
  margin-top: 1.2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-right: 1rem;
}
.pieContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.pie,
.barContainer {
  width: 50%;
}
.barContainer {
  flex-direction: column;
}

.title {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 1rem;
  /* align-items: center; */
}
