server:
  servlet:
    context-path: '/api'
spring:
  profiles:
    group:
      default: dev, secret
  config:
    import:
      - classpath:/aws.yml
      - classpath:/redis.yml
      - classpath:/jpa.yml
      - classpath:/logging.yml
      - classpath:/application-secret.yml
      - classpath:/db.yml