.item {
  border: 1px solid #565656;
  margin-bottom: 1rem;
  /* padding: 1rem; */
}
.title {
  padding: 1rem 0;
  border-bottom: 1px solid #565656;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
