.slick-main-next,
.slick-main-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  transform: translate(0, -50%);
  display: block;
  cursor: pointer;
  z-index: 2;
}

.slick-small-next,
.slick-small-prev {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 88%;
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.5);
}

.slick-main-next img,
.slick-main-prev img {
  width: 3rem;
  height: auto;
}

.slick-small-next img,
.slick-small-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.slick-main-next,
.slick-small-next {
  right: 0;
}

.slick-main-prev,
.slick-small-prev {
  left: 0;
}
.slick-main-next,
.slick-main-prev {
  width: 3rem;
  height: 3rem;
  padding: 0;
  top: 50%;
  color: transparent;
  border: none;
  outline: none;
}
