.container {
  margin-left: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.subTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
.reviews {
  display: flex;
}
.category {
  margin-top: 0.8rem;
  border-radius: 10px;
  margin-right: 2rem;
  padding: 1.5rem;
  width: 50%;
  border: 1px solid #afb0b4;
}
.reviewsText {
  font-size: 1.3rem;
}
.reviewsNum {
  font-size: 2rem;
}

.select {
  margin-top: 2rem;
  display: flex;
}
.option {
  margin-left: 2rem;
}
