.container {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #141414;
}
.left,
.right {
  display: flex;
}
.left {
  margin-left: 3rem;
}
.right {
  margin-right: 3rem;
}
.logo {
  display: flex;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}
.logoIcon {
  width: 10rem;
}

.menus {
  display: flex;
  margin-left: 3rem;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.category a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.category a:hover {
  color: #b3b3b3;
  transition: color 0.4s;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.goBack {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
}
.search button,
.goBack button {
  border: 0;
  background-color: transparent;
  cursor: url("https://i.ibb.co/r6S6LyY/hover-Vector.png"), auto;
}

.search button img {
  width: 2rem;
}
.goBack button img {
  width: 4rem;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
