.container {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #141414;
}
.left,
.right {
  display: flex;
}
.left {
  margin-left: 3rem;
}
.right {
  margin-right: 3rem;
}
.logo {
  display: flex;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}
.logoIcon {
  width: 10rem;
}

.menus {
  display: flex;
  margin-left: 3rem;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.category a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.category a:hover {
  color: #b3b3b3;
  transition: color 0.4s;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.goBack {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
}
.search button,
.goBack button {
  border: 0;
  background-color: transparent;
  cursor: url("https://i.ibb.co/r6S6LyY/hover-Vector.png"), auto;
}

.search button img {
  width: 2rem;
}
.goBack button img {
  width: 4rem;
}
.profileDropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
  position: relative; /* 드롭다운 메뉴 위치 조정 */
}
.profileDropdownButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.dropDown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 10rem;
  opacity: 1;
  background-color: #141414;
  transition-duration: 150ms;
}
.profileDropdownButton:hover .dropDown {
  display: block; /* 호버 시 표시 */
  cursor: url("https://i.ibb.co/r6S6LyY/hover-Vector.png"), auto;
}
.menuList {
  list-style-type: none;
  padding: 10px 0 5px;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: url("https://i.ibb.co/r6S6LyY/hover-Vector.png"), auto;
  padding: 5px 10px;
  border-bottom: 1px solid #b3b3b3;
  color: #eee;
}

.menuItem:hover {
  text-decoration: underline;
}

.menuItem:last-child {
  border-bottom: none;
}
.menuItem div img {
  width: 2rem;
  padding-top: 0.3rem;
}
