.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}
.itemContainer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.pwConfirm {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  padding: 3rem;
  border-bottom: 1px solid black;
}
.items {
  display: flex;
}
.error {
  margin-top: 1rem;
  margin-left: 20%;
  color: #ff1a1a;
}
.title {
  display: flex;
  align-items: center;
  width: 20%;
  font-size: 1.1rem;
  font-weight: 500;
}
.title span {
  color: #ff1a1a;
}
.inputContainer {
  width: 80%;
  display: flex;
}
.inputContainer input {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
}
.inputContainer span {
  font-size: 1.3rem;
  width: 5%;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputContainer input::placeholder {
  color: #807f7f;
  font-size: 1.2rem;
}
.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.submitButton {
  width: 20%;
  padding: 1.5rem 0.8rem;
  border: 0;
  background-color: #00127a;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}
