.content {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 5.5rem;
}

.page {
  display: flex;
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.render {
  width: 100%;
  margin-left: 1rem;
  border: 1px solid red;
}
