.content {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 5.5rem;
}

.page {
  display: flex;
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.render {
  width: 100%;
  margin-left: 1rem;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}
