.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.item {
  border: 1px solid #565656;
  margin-bottom: 1rem;
  /* padding: 1rem; */
}
.title {
  padding: 1rem 0;
  border-bottom: 1px solid #565656;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.title span,
.subTitle span {
  color: #ff1a1a;
}
.input3 {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
}
.input,
.contents {
  width: 95%;
  border: 1px solid #d9d9d9;
  background-color: #f4f4f4;
  padding: 1rem 0 1rem 1rem;
  border-radius: 5px;
}
.calendar {
  display: flex;
}
.caution,
.caution2 {
  font-size: 0.8rem;
  color: #00127a;
}

.caution {
  margin-top: 1rem;
}

.advideoList,
.adBanner,
.merImage,
.merDesImages,
.sell,
.sellPeriod,
.priceContainer,
.sellContainer,
.optionInput,
.city,
.jejuMountain {
  display: flex;
}
.advideoList,
.merImage,
.sell {
  border-bottom: 1px solid #afb0b4;
  padding-bottom: 1rem;
}
.wrapper {
  display: flex;
}
.adBanner,
.merDesImages,
.sellPeriod,
.jejuMountain {
  padding-top: 2rem;
}
.subTitle {
  width: 10%;
}
.videoContainer,
.imageContainer,
.priceContainer,
.sellContainer,
.imageListContainer {
  margin-left: 3rem;
  width: 80%;
}

.imageContainer,
.imageListContainer {
  display: flex;
  flex-direction: column;
}
.imageListContainer {
  display: flex;
}
.imagePreviewContainer {
  margin: 0 1rem;
}

.imageContainer {
  display: flex;
}
.thumb {
  display: flex;
}

.video,
.image {
  border: 1px dashed #afb0b4;
  width: 10rem;
  height: 10rem;
}
.cccc {
  display: flex;
}
.preview {
  width: 10rem;
  height: 10rem;
}
.videoInput,
.imageInput {
  display: none;
}
.btnUpload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btnUpload img {
  cursor: pointer;
  width: 3rem;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 5rem;
}
.bond {
  display: flex;
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.modalContent {
  display: flex;
  flex-direction: column;
}
.modalTitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.productContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.productContainer > div {
  flex: 1;
}

.option {
  display: flex;
  /* justify-content: center */
  align-items: center;
}
.optionContainer {
  display: flex;
}

.optionContainer > div {
  flex: 1;
}
.optionWrapper {
  display: flex;
  flex-wrap: wrap;
}

.productInput {
  position: relative;
  width: 100%;
  margin: 0.5rem 1rem;
}

.productWrapper {
  display: flex;
}

.input2 {
  font-size: 1rem;
  color: #565656;
  width: 100%;
  border: none;
  /* border-bottom: solid #aaaaaa 1px; */
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  position: relative;
  background: none;
  z-index: 5;
}

.input2::placeholder {
  color: #aaaaaa;
}

.input2:focus {
  outline: none;
}

.productWrapper {
  display: flex;
}

.productInput span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: #666;
  width: 0;
  height: 0.125rem;
  border-radius: 0.125rem;
  transition: 0.5s;
}

.input2:focus ~ span,
.input2:valid ~ span {
  width: 100%;
}

.productInput label {
  position: absolute;
  color: #aaa;
  left: 0.8rem;
  font-size: 1.25rem;
  bottom: 0.5rem;
  transition: all 0.2s;
}

.input2:focus ~ label,
.input2:valid ~ label {
  font-size: 1rem;
  bottom: 2.5rem;
  color: #666;
  font-weight: bold;
}
.icon {
  width: 3rem;
}
.closeBtn,
.removeOptionBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.removeOptionBtn img {
  width: 2rem;
}
.addBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  /* margin: 0.5rem 1rem; */
}
.optionAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 8rem;
  border: 0;
  background-color: #00127a;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}
.optionAdd img {
  width: 1rem;
}

.detailO {
  display: flex;
}
.optionContainer {
  margin-left: 1rem;
}
.detailO {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.tt {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
}
.optionWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border-bottom: 1px solid #565656;
}
.addProductBtn {
  margin-top: 2rem;
  padding: 1rem;
  color: #00127a;
  font-size: 1.1rem;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #00127a;
}
.borderR {
  border-right: 1px solid #aaa;
}
