.inputContainer {
  margin-top: 5vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  left: 10%;
  position: relative;
}

.Input {
  border: 2px solid #bbb;
  width: 100%;
  padding: 1.8vh 1vw;
  border-radius: 50px;
  font-size: 16px;
}

.inputContainer img {
  position: absolute;
  margin: 0;
  top: 2vh;
  right: 1.5vw;
  width: 25px;
  height: 25px;
}

.inputContainer button {
  border: 0;
}

.inputContainer button:hover {
  cursor: pointer;
}
.gridContainer {
  display: flex;
  flex-flow: wrap;
  margin-top: 2rem;
}
.thumbnail {
  padding: 1rem;
  border-radius: 10px;
}
.thumbnail img {
  width: 17rem;
  border-radius: 10px;
}
.title {
  color: #dddddd;
}
.noContent {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 2rem;
  left: 10%;
  color: #bbb;
}
