.listProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.text {
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
}
.text div {
  margin: 1rem 0;
}
.logo {
  width: 8rem;
}
.subText div span {
  margin: 0 0.5rem;
}

.chooseProfile {
  margin: 2em 0;
}
.imgWrapper {
  width: 10vw; /* 예시 크기 */
  height: 10vw;
  background-color: #fad5dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.profile {
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.name {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 1.3rem;
  line-height: 1.2em;
  margin: 0.6em 0;
  min-height: 1.8em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.profile:hover .profileImg {
  border: 2px solid #e5e5e5; /* 이미지 wrapper에 테두리 추가 */
}
.profile:hover .name {
  color: #e5e5e5; /* 이름의 색상 변경 */
}
