.coverImage {
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  filter: alpha(opacity = 100);
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  width: 100%;
}
.vidTitle {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
.info {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.customHorizonVignette {
  bottom: -53rem;
}
.customVignetteWrapper {
  bottom: -53rem;
}
.timeAge {
  display: flex;
}
