.content {
  display: flex;
  flex-direction: column;
  margin: 0 5.5rem;
  background-color: #141414;
}
.imgWrapper {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  right: 50%;
  /* float: right; */
  /* padding-top: 10rem; */
}
.coverImage {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  background-position: center 10%;
  min-height: 40vh;
  /* height: 34vw; */
  /* width: 100%; */
  color: #fff;
  position: absolute;
  right: 0;
}
.vidTitle {
  padding-top: 2rem;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.detailContainer {
  position: relative;
  min-height: 40vw;
  z-index: 6;
  background-image: linear-gradient(
    to right,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.71) 29%,
    rgba(20, 20, 20, 0.62) 38%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.38) 62%,
    rgba(20, 20, 20, 0.38) 86%,
    rgba(20, 20, 20, 0.11) 100%
  );
}
.detailWrapper {
  width: 50%;
}
.timeAge {
  display: flex;
  color: #fff;
  margin-bottom: 2rem;
}
.timeAge span {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.buttonWrapper {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.buttonWrapper div {
  display: flex;
  align-items: center;
}
.bar {
  width: 80%;
  height: 0.5rem;
  text-align: center;
  border-radius: 50px;
  background-color: #807f7f;
  flex: 2;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.description {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 2rem;
}
.staff {
  color: #c8c8c8;
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.staff span:first-child {
  flex: 1 1 10%;
  min-width: 10rem;
}

.staff span {
  flex: 1 1 90%;
  line-height: 1.5rem;
  font-weight: 400;
}

.epiTitle {
  color: white;
  margin-top: 1rem;
}
